/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de mai. de 2023, 11:04:48
    Author     : flamingo_lindo
*/
.background{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.menu{
    font-size: 50px;
    float: left;
    text-shadow: 5px 5px  5px #808080;
}

.button1{
  border: none;
  color: whitesmoke;
  background-color: red;
  margin-top: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px  5px #808080;
  margin-left: 300px;
}

.button2{
  border: none;
  color: whitesmoke;
  background-color: red;
  margin-top: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px  5px #808080;
  margin-left: 50px;
  margin-right: 50px;
}

.button3{
  border: none;
  color: whitesmoke;
  background-color: red;
  margin-top: 25%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  box-shadow: 5px 5px  5px #808080;
}