/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de mai. de 2023, 20:20:05
    Author     : flamingo_lindo
*/

.background{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.menu{
    font-size: 50px;
    float: left;
    text-shadow: 5px 5px  5px #808080;
    margin-right: 25%
}

.button{
  border: none;
  color: whitesmoke;
  background-color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  
  box-shadow: 5px 5px  5px #808080;
}